body{
	font-family: Montserrat;
	font-size: 16px;
}
ul, li{
	list-style-type: none;
	padding: 0;
}
a{
	text-decoration: none;
}
input{
	outline: none;
}


header{
padding: 20px;
}
header ul{
	display: flex;
	justify-content: center;
}
header li{
	transition: .5s;
	margin-right: 20px;
}
header li:hover{
	transition: .5s;
	transform: scale(1.1);
}

footer{
	display: flex;
	justify-content: space-evenly;
	padding: 20px;
}

.link_1{
	border: none;
	border-radius: 15px;
	padding: 10px;
	color: white;
	background-color: black;
	transition: .5s;
}
.link_1:hover{
	transition: .5s;
	transform: scale(1.1);
}

.input_1{
	transition: .5s;
	padding: 5px;
}
.input_1:hover{
	transition: .5s;
	transform: scale(1.1);
}


.block_1{
	color: black;
	margin-right: 20px;
	margin-top: 30px;
	box-shadow: 0px 2px 5px black;
	border-radius: 50px;
	padding: 20px;
	background-color: #e6e6e6;
	display: inline-block;
	transition: .5s;
}
.block_1:hover{
	transition: .5s;
	transform: scale(1.1);
}
.block_1 img{
	width: 250px;
}

.message_true{

	animation-name: fade;
	animation-duration: .5s;
	color: green;
	margin: 0 auto;
}
.message_false{

	animation-name: fade;
	animation-duration: .5s;
	color: red;
	margin: 0 auto;
}
@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.auth_user_1{
	padding: 20px;
	text-align: center;
}
.block_auth{
	margin-top: 15vh;
}

.sections{
	padding: 20px;
	height: 100%;
	text-align: center;
}

.table_products{
	
	text-align: center;
	padding: 20px;
	height: 70vh;
}
.table_products table{
	margin: 0 auto;
}
.table_products table th, td{

	padding: 10px;
}
.table_sect{

	text-align: center;
	padding: 20px;

}
.table_sect table{
	margin: 0 auto;
}
.table_sect table th, td{

	padding: 10px;
}
.table_sect img{
width: 300px;
}


.edit_count_form{
	padding: 20px;
	height: 70vh;
	text-align: center;
}
.edit_count_form img{
width: 300px;
}


.add_prod_form{
	padding: 20px;
	height: 70vh;
	text-align: center;
}
.add_user_form{
	padding: 20px;
	height: 70vh;
	text-align: center;
}
.users_form{
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	height: 70vh;
}
.users_form table{
	
	margin: 0 auto;
}
.users_form table th, td{

	padding: 10px;
}